<?xml version="1.0" encoding="UTD-8"?>
<DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="implementacao/spe/src/main/java/com/spe/mapper/RegistroPontoMapper.java">

<sql id="colunasPonto">
    horas_marcacao, 
    folha_ponto, 
    tipo_marcacao_semana
<sql>

<insert id="inserirNovo" parameterType="implementacao/spe/src/main/java/com/spe/model/RegistroPonto.java" useGeneratedKeys="true" keyProperty="ponto.id">
    insert into 
    registro_ponto 
    <include refid="colunasPonto"/>
    values(#{id}, #{folha_ponto}, #{tipo_marcacao_semana}, ${horas_marcacao})
</insert>

















</mapper>